{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}

<div class="">
<div class="homepage-banner ">
        {% for advert in adverts %} 
            <div class="item">
                 <a href="{{ advert.link_url }}"><img src="{{ MEDIA_URL }}{{ advert.banner }}" class="pc" /></a>
                <a href="{{ advert.link_url }}"><img src="{{ MEDIA_URL }}{{ advert.banner_tablet_size }}" class="tablet" /></a>
                <a href="{{ advert.link_url }}"><img src="{{ MEDIA_URL }}{{ advert.banner_mobile_size }}" class="mobile" /></a>
           </div>
        {% endfor %}
</div>

<div class="video-card">
    <div class="container">
    <div class="row">
            <div class="col-sm-7">
                <h3>{{ homepagevideo.title }}</h3>
                <p>{{ homepagevideo.details }}</p>
            </div>
            <div class="col-sm-5">
            <iframe width="560" height="315" src="{{ embedvideo }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>  
      
    </div>
</div>

<div class="container">
<h2>MLK Shop</h2>
    <div class="product-list">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                               <ul>
                                                <li class="lead mb-0 text-left font-weight-bold">${{ product.price }}</li>
                                                   {% if product.category %}
                                                    <li class="small mt-1 mb-0">
                                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if product.rating %}
                                                        <li class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</li>
                                                    {% else %}
                                                        <li class="text-muted">No Rating</li>
                                                    {% endif %}
                                                    {% if request.user.is_superuser %}
                                                        <li class="linksbar">
                                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}                        
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

    </div>
</div>
</div>

 {% if adverts %}
    <script>
    $(document).ready(function(){
        $('.homepage-banner').slick({
            dots: true,
            /* Just changed this to get the bottom dots navigation */
            infinite: true,
            speed: 1000,
            dots: true,
            vertical: true,
            autoplay: true,
            slidesToShow: 1,
            arrows: true,
            adaptiveHeight: true
            });
    });
    </script>
{% endif %}
{% endblock %}