 <header class="container-fluid fixed-top">
    <div id="topnav" class="row   pt-lg-2 d-lg-flex ">
        <div class="col-xs-12 col-sm-3 my-auto py-1 py-lg-0 text-center text-lg-left pc">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-white my-0"><strong>Composer</strong> MLK</h2>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <nav class="navbar navbar-expand-lg navbar-dark w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div class="col-xs-12 col-sm-3 my-auto py-1 py-lg-0 pc">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                
                        {% if request.user.is_authenticated %}
                
                                <li class="list-inline-item  account">
                                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                            </li>
                            <li class="list-inline-item  account">
                            <a href="{% url 'account_logout' %}" class=" nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="list-inline-item  account">
                                <a href="{% url 'account_signup' %}" class=" nav-link">Register</a>
                            </li>
                        <li class="list-inline-item  account">
                            <a href="{% url 'account_login' %}" class=" nav-link">Login</a>
                        </li>
                        {% endif %}
                                    
                        <li class="list-inline-item cart">
                            <a class="{% if grand_total %}text-info font-weight-bold {% endif %}" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
            </ul>
        </div>
    </div>
</header>