<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=cd_albums" class="dropdown-item">CD Albums</a>
                <a href="{% url 'products' %}?category=event_tickets" class="dropdown-item">Event Tickets</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="/about/whois" class="dropdown-item">Who is MLK?</a>
                <a href="/about/neo-classical-piano" class="dropdown-item">Neo Classical Piano</a>
                <a href="/about/sussex-roads" class="dropdown-item">Sussex Roads</a>
            </div>
        </li>
         <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link " href="/about/sample-videos">Sample Videos</a> 
         </li>
        {% if request.user.is_authenticated %}        
            <li class="nav-item mobile">
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item mobile">
                <a href="{% url 'account_logout' %}" class=" nav-link">Logout</a>
            </li>
        {% else %}
            <li class="nav-item mobile">
                <a href="{% url 'account_signup' %}" class=" nav-link">Register</a>
            </li>
            <li class="nav-item mobile">
                <a href="{% url 'account_login' %}" class=" nav-link">Login</a>
            </li>
        {% endif %}              
        <li class="nav-item mobile">
            <a class="nav-link" href="{% url 'view_bag' %}">
            Your Bag
            </a>
        </li>
    </ul>
</div>