{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
<h1>{{page.title}}</h1>

<div class="page-content">
    {% for video in sampleVideos %}
    <div class="video-card">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>{{ video.title }}</h3>
                 {% if video.subtitle %}
                    <h4>{{ video.subtitle }}</h4>
                 {% endif %}
                
                 <p>{{ video.details | linebreaks }}</p>

                 {% if video.recorded %}
                  <p class="recorded_at">Recorded at: {{ video.recorded }} </p>
                 {% endif %}
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="videoWrapper">
                    <iframe  src="{{  video.embedvideo }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> 
            </div>
        </div>
    </div>  
{% endfor %}
</div>
</div>
{% endblock %}
