{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">    
        <link rel="stylesheet" href="{% static 'css/base.css' %}">           
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
        <!-- This js file link is added in head, as it's needed for Slick Slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock %}
        <link rel="shortcut icon" href="https://res.cloudinary.com/machikolacey/image/upload/v1617044436/milestone4/favicon_w1mkfw.ico" />
        <title>Composer MLK {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
   {% include 'includes/header.html' %}
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <div class="add-product"> 
                <a href="{% url 'add_product' %}" class="nav-link"><i class="fas fa-plus-circle fa-3px"></i>
                Add a product</a>
            </div>
        {% endif %}
    {% endif %}
    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>    
    {% endblock %}
    {% block postloadjs %}
    <script src="{% static 'js/custom.js' %}"></script>
    {% endblock %}
  </body>
</html>